*{
    box-sizing: border-box;
}

.vehicle:hover{
  
}
/* .vehicle-img{
    border-radius: 10px;
    
} */

.vehicle-img img{
    width: 150px;
    height: 150px;
}


/* @media screen and (max-width: 567px) {
    .vehicle{
       width: 100vw;
    }
}  */